@import url("/css/import/variable.css");

/* Variables 
  --main-font: "'Montserrat', sans-serif;";
  --text-color: #2d2d2d;
  --header-weight: 500;
  --main-weight: 300;
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  font-family: var(--main-font);
}

header {
  margin-top: 10%;
}

nav ul {
  display: flex;
  gap: 5%;
  justify-content: center;
  padding-left: 4%;
  font-size: 4vw;
  background: white;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  font-family: var(--main-font);
}

li a {
  color: var(--text-color);
  text-decoration: none;
}

h2 {
  text-align: center;
  width: 30%;
  text-transform: uppercase;
  font-size: 5vw;
  border: solid 2px var(--text-color);
  background-color: var(--secondary-color);
}

h3 {
  text-align: center;
  font-weight: 500;
  flex-basis: 100%;
  font-size: 5vw;
}

.img-box {
  width: 75%;
  margin: 0 auto;
}

.logo {
  width: 100%;
}

.invincible:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.scrolled {
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  background: white;
  transition: ease-in 0.1s;
}

.active {
  text-decoration: underline;
}

.section-header {
  display: flex;
  justify-content: center;
}

.horizontal-line {
  content: "";
  background: var(--text-color);
  width: 23%;
  height: 2px;
  align-self: center;
}

/* Work section */

.work-section {
  margin-top: 25%;
}

.work-section a {
  color: var(--text-color);
}

.slider-wrapper {
  display: flex;
  margin-bottom: 10%;
}

.slider {
  display: flex;
  width: 100%;
  height: 75vw;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
}

.slider-item_wrap {
  position: absolute;
  display: flex;
  width: 271%;
}

.slider-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  position: relative;
  width: 100%;
  left: 5%;
  margin-right: 5%;
}

.slider-item h4,
.slider-item p {
  margin: 0;
  max-width: 96%;
  font-size: 4vw;
}

.slider-item h4 {
  font-size: 4.3vw;
  margin-bottom: 2%;
}

.slider-item p {
  font-size: 4vw;
}

.slider-img_wrap {
  width: 96%;
}

.slider-img {
  width: 100%;
}

.links {
  margin-top: auto;
  padding-top: 2%;
}

.arrow-left {
  background: white;
  display: flex;
  z-index: 9999;
  padding-left: 5%;
  padding-right: 1%;
}

.arrow-left svg {
  align-self: center;
  z-index: 9999;
}

.arrow-right {
  display: flex;
  background: white;
  z-index: 9999;
  padding-right: 5%;
  padding-left: 3%;
}

.arrow-right svg:hover {
  color: black;
}

.arrow-right svg {
  align-self: center;
  z-index: 9999;
}
/* About section */

.about-section {
  margin-top: 10%;
}

.about-section h4,
.about-section li {
  max-width: 76%;
  margin: 0 auto;
}

.about-section h4 {
  margin-top: 8%;
  font-size: 4.3vw;
  margin-bottom: 1%;
}

.about-section li {
  margin-bottom: 1.5%;
  font-size: 4vw;
}

.about-section ul {
  margin-top: 0;
}

.about-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-img_wrap {
  width: 30%;
}

.badges {
  padding: 0.5%;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 76%;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 76%;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 76%;
}

.personal-img {
  width: 100%;
}

.contact-section {
  margin-top: 10%;
}

.form-contact {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.label-container {
  margin-bottom: 10%;
}

input {
  border: none;
  border-bottom: solid 1px black;
  width: 75vw;
  font-size: 4vw;
  font-family: var(--main-font);
}

textarea {
  font-size: 4vw;
  resize: none;
  border: solid 1px black;
  font-family: var(--main-font);
  width: 74.5vw;
}

textarea:focus,
input:focus {
  outline: 2px solid black;
}

.send-btn {
  border: solid 2px black;
  background: white;
  padding: 3% 0%;
  width: 76vw;
  font-family: var(--main-font);
  font-size: 4vw;
}

.send-btn:hover {
  background: black;
  color: white;
}
/* Error */

.error {
  background-color: lightcoral;
  border-style: solid;
  border-radius: 5px;
  border-color: darkred;
  color: darkred;
  max-width: 500px;
}

@media only screen and (min-width: 500px) {
  nav ul {
    gap: 7%;
  }
}

@media only screen and (min-width: 680px) {
  nav ul {
    padding-left: 2%;
    font-size: 2.5vw;
  }

  h2 {
    font-size: 3.5vw;
    width: 25%;
  }

  .horizontal-line {
    width: 24%;
  }

  h3 {
    font-size: 3.5vw;
  }

  .slider {
    height: 59vw;
  }

  .slider-item h4 {
    font-size: 2.8vw;
    margin-bottom: 2%;
  }

  .slider-item p {
    font-size: 2.5vw;
  }

  .about-section h4,
  .about-section li {
    max-width: 73%;
  }

  .about-section h4 {
    font-size: 2.8vw;
  }

  .about-section li {
    font-size: 2.5vw;
  }

  .tools {
    max-width: 73%;
  }

  .languages {
    max-width: 73%;
  }

  .socials {
    max-width: 73%;
  }

  input {
    font-size: 2.5vw;
    width: 68.5vw;
    padding: 1.5vw;
  }

  textarea {
    font-size: 2.5vw;
    width: 71vw;
  }

  .send-btn {
    font-size: 2.5vw;
    width: 72vw;
  }
}

@media only screen and (min-width: 970px) {
  header {
    margin-top: 8%;
  }

  nav ul {
    padding-left: 1%;
    font-size: 1.2em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 2em;
    flex-basis: 36%;
  }

  .horizontal-line {
    width: 25%;
  }

  .work-section {
    margin-top: 43%;
  }

  .slider-wrapper {
    margin-bottom: 5%;
  }

  .slider {
    height: 36vw;
  }

  .slider-item_wrap {
    width: 120%;
  }

  .slider-item {
    left: 10%;
    margin-right: 3%;
  }

  .slider-item h4 {
    font-size: 1.2em;
  }

  .slider-item p {
    font-size: 1.1em;
  }

  .arrow-right svg,
  .arrow-left svg {
    height: 35px;
    width: 40px;
  }

  .personal-img {
    width: 100%;
  }

  .about-img_wrap {
    width: 20%;
  }

  .about-heading h3 {
    display: flex;
    align-items: center;
    font-size: 3em;
    justify-content: center;
  }

  .about-section h4,
  .about-section li {
    max-width: 56%;
  }

  .about-section h4 {
    font-size: 1.3em;
    margin-top: 5%;
  }

  .about-section li {
    font-size: 1.1em;
    margin-bottom: 1%;
  }

  .tools {
    max-width: 56%;
  }

  .languages {
    max-width: 56%;
  }

  .socials {
    max-width: 56%;
  }

  .input-container {
    width: 40%;
  }

  input {
    font-size: 1.3em;
    width: 97%;
    padding: 1.5%;
  }

  textarea {
    font-size: 1.3em;
    width: 99%;
  }

  .send-btn {
    font-size: 1.3em;
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
}
