@import url("/css/import/variable.css");

/* Variables 
  --main-font: "'Montserrat', sans-serif;";
  --text-color: #2d2d2d;
  --header-weight: 500;
  --main-weight: 300;
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  font-family: var(--main-font);
}

header {
  margin-top: 10%;
}

ul {
  display: flex;
  gap: 5%;
  justify-content: center;
  padding: 0;
  font-size: 4vw;
}

li {
  list-style-type: none;
  font-family: var(--main-font);
}

li a {
  color: var(--text-color);
}

h2 {
  text-align: center;
  width: 130px;
  text-transform: uppercase;
  font-size: 5vw;
}

h3 {
  text-align: center;
  font-weight: 500;
  flex-basis: 100%;
  font-size: 5vw;
}

.img-box {
  width: 75%;
  margin: 0 auto;
}

.logo {
  width: 100%;
}

.invincible:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.section-header {
  display: flex;
  justify-content: center;
}

.horizontal-line {
  content: "";
  background: var(--text-color);
  width: 25%;
  height: 1px;
  align-self: center;
}

/* Work section */

.work-section {
  margin-top: 15%;
}

.slider-wrapper {
  display: flex;
  margin-bottom: 10%;
}

.slider {
  display: flex;
  width: 100%;
  height: 71vw;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
}

.slider-item_wrap {
  position: absolute;
  display: flex;
  width: 230%;
}

.slider-item {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  padding-bottom: 1%;
  position: relative;
  width: 100%;
  left: 7%;
}

.slider-item h4,
.slider-item p {
  margin: 0;
  max-width: 90%;
  font-size: 4vw;
}

.slider-img_wrap {
  width: 90%;
}

.slider-img {
  width: 100%;
}

.arrow-left {
  background: white;
  display: flex;
  z-index: 9999;
  padding-left: 5%;
  padding-right: 1%;
}

.arrow-left svg {
  align-self: center;
  z-index: 9999;
}

.arrow-right {
  display: flex;
  background: white;
  z-index: 9999;
  padding-right: 5%;
  padding-left: 3%;
}

.arrow-right svg {
  align-self: center;
  z-index: 9999;
}

.about-section {
  margin-top: 10%;
}

.about-section p {
  max-width: 60%;
  margin: 0 auto;
  font-size: 4vw;
}

.about-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-img_wrap {
  width: 30%;
}

.personal-img {
  width: 100%;
}

.contact-section {
  margin-top: 10%;
}

.form-contact {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.label-container {
  margin-bottom: 10%;
}

input {
  border: none;
  border-bottom: solid 1px black;
  width: 15rem;
  font-size: 1rem;
  font-family: var(--main-font);
}

textarea {
  font-size: 1rem;
  resize: none;
  border: solid 1px black;
  font-family: var(--main-font);
}

.send-btn {
  border: solid 2px black;
  background: white;
  padding: 3% 29%;
  font-family: var(--main-font);
}

.send-btn:hover {
  background: black;
  color: white;
}
/* Error */

.error {
  background-color: lightcoral;
  border-style: solid;
  border-radius: 5px;
  border-color: darkred;
  color: darkred;
  max-width: 500px;
}
